name: Test Bot
on: workflow_dispatch
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: AFFICHER LES FICHIERS
        run: ls -R
      - setup-python@v4
        with:
          python-version: '3.9'
      - run: pip install requests beautifulsoup4 lxml
      - run: python main.py
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
          git config --global user.email 'bot@noreply.github.com'
          git add last_videos.txt
          git commit -m "Update" || echo "Rien a changer"
          git push
