name: YouTube Bot

on:
  schedule:
    - cron: '*/15 * * * *'  # Toutes les 15 minutes
  workflow_dispatch:        # Bouton manuel

permissions:
  contents: write

jobs:
  run-bot:
    runs-on: ubuntu-latest
    
    steps:
      - name: 1. Récupération du code
        uses: actions/checkout@v3

      - name: 2. Installation Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: 3. Installation des outils
        run: pip install requests beautifulsoup4 lxml

      - name: 4. Lancement du Robot
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python main.py

      - name: 5. Sauvegarde de la mémoire
        run: |
          git config --global user.name 'GitHub Bot'
          git config --global user.email 'bot@noreply.github.com'
          git add last_videos.txt
          git commit -m "Mise a jour" || echo "Rien a changer"
          git push
